* {
    box-sizing: border-box;
}


.container-fluid {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px;
}


.navbar {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    position: fixed;
    top: 40px;
    z-index: 1;
}

.navbar-brand img{
    width: 200px;

}
.navbar-scrolled {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);
    top: 0px;
    position: fixed;
    z-index: 5;
    width: 100%;
}
.navbar-toggled {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);
    top: 0px;
    position: fixed;
    z-index: 5;
    width: 100%;
}
.navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.firstSection {
    overflow: visible;
    background: orange;
    background-image: url("photos/OrangeBackground.png");
    background-image: linear-gradient(to right, rgba(94, 23, 254, 0.2), rgba(255,255,255, 0.05)), url("photos/OrangeBackground.png");
    background-size: cover;
    background-position: 0 0;
    box-shadow: 0px -10px 35px 4px inset rgba(0, 0, 0, 0.1);
    margin: 0px;
    width: 100%;
    z-index: -1;
}

.navbar-nav > a {
    text-decoration: none;
    width: 100px;
    text-align: center;
}
 .navbar-nav > .nav-link {
    font-size: 16px;
    font-weight: 400;
    color: black !important;
}
.project-btn-1 {
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    margin: 20px;
    padding: 10px 20px;
    border: 1px solid rgb(21, 21, 21); 
}
.project-btn-1:hover {
    background-color: rgb(21, 21, 21);
    color: rgb(255, 255, 255);
}
.project-btn-2 {
    background-color: rgb(232, 65, 66);
    color: rgb(255, 255, 255);
    margin: 0px 10px;
    padding: 12px 20px;
    font-size: 0.5rem;
    border: 1px solid rgb(255, 255, 255);
}
.project-btn-2:hover {
    color: rgb(255,255,255);
    background-color:rgb(0, 0, 0);
    border: 1px solid rgb(21, 21, 21);
}
.right-sec p {
    font-size: 2rem;
    line-height: 40px;
}
.proj-box-bot-sec {
    padding: 5px 20px;
}
.header {
    margin: 0px 0px 10px 0px;
}
.header h3 {
    font-size: 1em;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(21, 21, 21);
    padding: 0px;
    margin: 0px;
}
.header p {
    font-size: 0.75em;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(68, 68, 68);
    padding: 0px;
    margin: 0px;
}
.proj-btn-box .btn {
    margin-top: 0px;
}

.nav-link:hover {
    text-decoration: underline;
}

#NavCvButton {
    padding: 12px 10px;
    font-size: 16px;
    
}
#NavCvButton:hover {
    background-color: rgb(232, 65, 66);
    border-color: rgb(232, 65, 66);
}
.nav-bar-button {
    display: none;
    width: 180px;
}
.content-height {
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.content-width {
    display: flex;
    width: 100%;
    max-width: 1260px;
    align-items: center;
    padding: 0px 30px;
    position: relative;
}

.leftpart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.first-title > h1 {
    font-family: 'Bebas Neue', arial;
    color: white;
    font-size: 100px;
    padding: 0px;
    margin: 0px;
    text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}

.first-para > p {
    font-family: 'Hind Siliguri', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 10px;
}

.first-title {
    padding-top: 15px;
    padding-bottom: none;
}



.rightpart {
    margin-left: auto;
}

.topbutton {
    padding:20px 30px;
    border-radius: 20px;
    font-family: arial;
    color: rgb(233, 76, 77);
    font-weight: 700;
    border: none;
    position: inline-block;
}

.topbutton:hover{
    background-color: rgb(233, 76, 77);
    color: white;
}

.fancyRed {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 64px;
    display: inline-block;
    letter-spacing: 0px;
    word-spacing: 0px;
    background-color:rgb(232, 65, 66);
    color: white;
    padding: 15px 14px;
    margin-right: -10px;
    margin-top: 0px;
}

.spancommunicator {
    line-height: 100px;
}
.secondright {
    display: flex;
    justify-content: center;
}
.secondheading {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 64px;
    letter-spacing: 0px;
    word-spacing: 0px;
}
.secondSection {
    padding: 190px 0px;
    display: flex;
    z-index: 3;
    justify-content: center;
}

.secondcontent {
    z-index: 4;
    display: flex;
    justify-content: space-between;
    transform: translate(0, 0);
    width: 100%;
    max-width: 1260px;
    padding: 0px 30px;
}
.secondleft {
    display: flex;
    flex-direction: column;
}

.secondbuttons {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom :auto;
}

.sec2button1 {
    padding: 20px 25px 20px 25px;
    border-radius: 1px;
    border-color: rgb(21, 21, 21);
    margin: 10px;
    font-weight: 700;
    color: rgb(255,255,255);
    background-color: rgb(21, 21, 21);
}

.sec2button1:hover {
    background-color: rgb(232, 65, 66);
    border-color: rgb(232, 65, 66);
    color: rgb(255,255,255);
}


.sec2button2 {
    padding: 20px 25px;
    border-radius: 0px;
    margin: 10px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    color: rgb(21, 21, 21);
    border-color: rgb(21, 21, 21);
}
.sec2button2:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(232, 65, 66);
    border-color: rgb(232, 65, 66);
}



.coderimg {
    width: 100%;
    max-width: 500px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
    
}



.aboutme {
    position: absolute;
    right: 0px;
    bottom: -262px;
    margin: 0px 30px;
    z-index: 3;
    display: flex;
    min-height: 150px;
    width: 100%;
    max-width: 650px;
    background-color: rgb(21, 21, 21);
}

.leftsquare {
    background-color: white;
}
.leftsquare img {
    display: block;
}
.rightpart {
    padding: 25px 55px;
}

.rightpart p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
    z-index: 1;
}

.rightpart .aboutSecondPara {
    text-indent: 15px;
    
}

.thirdSection {
    background-color: rgb(94, 23, 254);
    display: flex;
    justify-content: center;
    padding: 190px 0px 250px 0px;
}
.thirdContent {
    display: flex;
    flex-direction: column;
    transform: translate(0, 0);
    width: 100%;
    max-width: 1260px;
    padding: 0px 30px;
}

.thirdHeader-top {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    max-width: 1200px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.thirdHeader-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.thirdHeader-link a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.thirdHeader-top h2  {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
}
.thirdHeader-link a img {
    padding-right: 10px;
}
.third-top {
    width: 100%;

}

.thirdHeader-bottom p {
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 30px;

}

.third-features {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 100px;
}
.feature {
    width: 100%;
    max-width: 270px;
}
.feature h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    padding-bottom: 40px;
}

.feature p {
    color: white;
    font-weight: 300;
}

.fourthSection {
    background-color: rgb(255, 255, 255);
    height: 750px;
    padding: 100px;
    width: 100%;
    z-index: -1;
}

.built-projects-box {
    display: flex;
    position: absolute;
    bottom: -250px;
    right: 50%;
    width: 100%;
    max-width: 980px;
    height: 235px;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 65, 66);
    transform: translate(50%,50%);
}

.flip-horizontal {
    transform: scaleX(-1);
}
.space {
    padding: 1px 5px;
}
.arrow-size {
    height: 10px;
    width: 8px;
    align-self: center;
}

.built-projects-header {
    margin-left: auto;
    margin-right: auto;
}
.built-projects-header h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 40px;
}

.btn-sec3-margin {
    margin-right: auto;
}

.sec3button1 {
    padding: 20px 25px 20px 25px;
    border-radius: 1px;
    border-color: rgb(21, 21, 21);
    font-weight: 400;
    color: rgb(255,255,255);
    background-color: rgb(21, 21, 21);
}

.sec3button1:hover {
    background-color: rgb(232, 65, 66);
    border-color: rgb(232, 65, 66);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
    color: rgb(255,255,255);
}

.fourthSection {
    background-color: rgb(252,252,252);
    display: flex;
    justify-content: center;
    height: auto;
    align-items: stretch;
    padding: 200px 0px 200px 0px;
    
}

.fourthContent {
    background-color: rgb(252,252,252);
    width: 100%;
    display: block;
    max-width: 1260px;
    padding: 0px 30px;
}

.project-box {
    min-height: 420px;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 80px;
    overflow: hidden;
    border-bottom: 3px solid rgba(21, 21, 21, 0.64);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition-duration: 500ms;
}
.project-box:hover {
    padding: 0px;
    min-height: 435px;
    box-shadow: 0px 0px 40px rgba(168, 16, 16, 0.7);
    border-bottom: 3px solid rgb(232, 65, 66);
}


.margin-20-left {
    margin-left: 20px;
}
.margin-20-right {
    margin-right: 20px;
}
.check-code-button {
    padding: 20px;
}
.check-code-button:hover {
    background-color: rgba(28, 31, 35, 0.85);
}

.check-website-button {
    padding: 20px 35px;
    background-color: rgb(94, 23, 254);
    border: none;
}

.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}



.align-content-start {
    align-content: flex-start;
}
.align-content-end {
    align-content: flex-end;
}

.medium-buttons {
    display: flex;
    flex-wrap: nowrap;
}


.right-0 {
    right: 0;
}
.left-0 {
    left: 0;
}

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}


.roslan-purple-color {
    color: rgb(94, 23, 254);
}
.roslan-red-color {
    color: rgb(232, 65, 66);
}
.red-button {
    background-color: rgb(232, 65, 66);
}
.red-button:hover {
    background-color: rgba(232, 65, 66, 0.8);
}


.purple-button {
    background-color: rgb(94, 23, 254);
}
.purple-button:hover {
    background-color: rgba(94, 23, 254, 0.8);
}
.black-button {
    background-color: rgb(21, 21, 21);
}
.black-button:hover {
    background-color: rgba(21, 21, 21, 0.8);
}
.crazyheadphone-box {
    background-image: url(./photos/crazyheadphones.png);
}
.business-box {
    background-image: url(./photos/business\ calculator.png);
}
.photo-box {
    height: 170px;
    background-color:rgb(232, 65, 66);
    background-size: 300px;
    background-position-x: -35px;
    border-radius: 20px;
    width: 80%;
    margin: 20px auto 0px auto;
    padding: 0px;
}
.business-box {
    background-size: 350px;
    background-position-x: -50px;
}



.fifthSection {
background-color: rgb(21, 21, 21);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.fifthContent {
    padding-top: 150px;
    padding-bottom: 150px;
    width: 100%;
    max-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
}
.contact-form-container {
    width: 100%;
    border-radius: 10px;
    padding: 120px 150px;
    background-color: rgb(255, 255, 2555);
}
.contact-form-wrapper {
    width: 44%;
    align-self: flex-start;
}
.inner-contact-form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contact-img {
    padding: 40px;
    width: 40%;
}
.contact-img img {
    width: 100%;
}
.contact-form-title {
    display: block;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color:rgb(21, 21, 21);
    margin-bottom: 40px;
}
.input-style {
    display: block;
    border-radius: 25px;
    border: none;
    padding: 10px 30px;
    margin-bottom: 10px;
    background-color: rgb(230, 230, 230);
}
.contact-button {
    padding: 10px;
    margin-top: 20px;
    border-radius: 25px;
    display: block;
    width: 100%;
    background-color: rgb(132, 106, 221);
    border: none;
}
.contact-now-link:hover {
    color: rgba(255,255,255, 0.8);
}
.header .business-h3 {
    font-size: 0.825rem;
}
@media screen and (min-width: 992px) {
    .nav-bar-button {
        display: flex;
        justify-content: flex-end;
    }
    .hide-till-collapse {
        display: none;
    }
}
@media screen and (max-width: 1125px){
    .contact-form-container{
        padding: 120px 100px;
    }
    .contact-img {
        padding: 20px;
        width: 45%;
    }
    .contact-form-wrapper {
        width: 50%;
    }
}
@media screen and (max-width: 850px){
    .contact-form-container {
        padding: 50px;
    }
    .contact-form-wrapper {
        width: 55%;
    }
}
@media screen and (max-width: 700px){
    .contact-img {
        display: none;
    }
    .contact-form-wrapper {
        width: 100%;
    }
}
@media screen and (max-width: 500px){
    .contact-form-container {
        padding: 40px 20px;
    }
}
@media screen and (max-width: 1194px){
    .secondheading {
        /* font-size: 54px; */
        font-size: clamp(1.5rem, 8vw, 3.7rem);
    }
    .fancyRed {
        /* font-size: 54px; */
        font-size: clamp(1.5rem, 8vw, 3.7rem);

    }
    .coderimg {
        max-width: 420px;
    }
}
@media screen and (max-width: 1070px){
    .built-projects-header h2 {
        font-size: clamp(1.5rem, 4vw ,2.5rem);

    }
    .thirdHeader-top h2 {
        font-size: clamp(1.5rem, 4vw ,2.5rem);
    }
    .thirdHeader-bottom p {
        font-size: clamp(1rem , 2vw, 1.375rem)
    }
    .first-para p {
        font-size: clamp(1rem , 6vw, 1.875rem);
    }
    .first-title h1 {
        font-size: clamp(2rem, 9vw, 6.25rem);
    }
    .sec2button1 {
        font-size: clamp(0.6rem, 3vw, 1rem);
    }
    .sec2button2 {
        font-size: clamp(0.6rem, 3vw, 1rem);
    }
    .secondcontent {
        flex-direction: column;
        align-items: center;
    }
    .coderimg {
        width: 90%;
        max-width: 600px;
        margin-top: 20px;
    }
    .secondbuttons {
        justify-content: flex-start;
    }
    .aboutme {
        right: 50%;
        transform: translateX(50%);
        margin: 0px;
    }
   
}
@media screen and (max-width: 568px){
    .built-projects-box {
        bottom: -175px;
    }
    .fifthContent {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .fourthSection {
        padding-bottom: 100px;
    }
    .thirdSection {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .secondSection {
        padding-top: 125px;
    }
    .content-height {
        padding-top: 160px;
        padding-bottom: 125px;
    }
    .topbutton {
        border-radius: 3px;
        padding: 10px 15px;
        font-size: 1rem;
    }
    .hide-small-screen {
        display: none;
    }

    .medium-buttons {
        width: 100%;
        justify-content: flex-end;
    }
    .check-code-button {
        padding: 10px 15px;
        font-size: 0.875rem;
    }
    .check-website-button {
        padding: 10px 15px;
        font-size: 0.875rem;
    }
    

    .sec3button1 {
        font-size: 0.8rem;
        padding: 10px 15px;
        margin-top: 30px;
        margin-left: auto;
    }
    .built-projects-box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #NavCvButton {
        display: none;
        position: absolute;
    }
    .navbar-brand img {
        width: 30vw;
    }
    .navbar-toggler {
        margin-left: auto;
    }
    .leftpart img {
        width: 70%;
    }
}

@media screen and (max-width: 970px){
    .third-features {
        padding-top: 50px;
    }
    .thirdHeader-bottom p {
        padding-top: 20px;
    }
    .thirdHeader-link {
        padding-top: 15px;
    }
    .thirdHeader-top h2 {
        padding-bottom: 15px;
        border-bottom: 2px solid rgb(255, 255, 255);
    }
    .thirdHeader-top {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        border-bottom: none;
        padding-bottom: 0px;
    }
    .feature {
        max-width: 550px;
    }
    .feature h3 {
        padding-bottom: 0px;
    }
    .feature p {
        padding-bottom: 15px;
    }
    .third-features{
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width: 750px){
    .card h3 {
        font-size: clamp(1.4rem, 4.5vw, 2.1875rem);
    }
}
@media screen and (max-width: 690px){

    .camp-left {
        display: none;
    }
    .card {
        padding: 5px;
    }
    .rightpart {
        padding: 20px 40px;
    }
    .aboutme {
        width: 100%;
    }
    .leftsquare {
        display: none;
    }
}