body {
}


.container-fluid {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px;
}

#navbar {
    background-color: rgba(0,0,0,0) !important;
    width: 100%;
    position: fixed;
    top: 40px;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}




.firstSection {
    overflow: visible;
    background-image: url("photos/OrangeBackground.png");
    background-size: cover;
    background-color: orange;
    background-position: 0 0;
    box-shadow: 0px -10px 35px 2px inset rgba(0, 0, 0, 0.1);
    margin: 0;
    height: 750px;
    width: 100%;
    z-index: -1;
}

.navbar-nav > a {
    text-decoration: none;
    width: 100px;
    text-align: center;
}
 .navbar-nav > .nav-link {
    font-size: 16px;
    font-weight: 400;
    color: black !important;
}

.nav-link:hover {
    text-decoration: underline;
}

#NavCvButton {
    padding: 12px 10px;
    font-size: 16px;
    
}
#NavCvButton:hover {
    background-color: rgb(232, 65, 66);
    border-color: rgb(232, 65, 66);
}
.nav-bar-button {
    width: 180px;
    display: flex;
    justify-content: end;
}
.content-height {
    padding-top: 200px;
    padding-bottom: 200px;
}
.content-width {
    display: flex;
    width: 100%;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px;
}

.first-title > h1 {
    font-family: 'Bebas Neue', arial;
    color: white;
    font-size: 100px;
    padding: 0px;
    margin: 0px;
    text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}

.first-para > p {
    font-family: 'Hind Siliguri', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 10px;
}

.first-title {
    padding-top: 15px;
    padding-bottom: none;
}

.first-para {
    width: 650px;
}



.rightpart {
    margin-left: auto;
}

.topbutton {
    padding:20px 30px;
    border-radius: 20px;
    font-family: arial;
    color: rgb(233, 76, 77);
    font-weight: 700;
    border: none;
}

.topbutton:hover{
    background-color: rgb(233, 76, 77);
    color: white;
}

.fancyRed {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 64px;
    letter-spacing: 0px;
    word-spacing: 0px;
    background-color:rgb(232, 65, 66);
    color: white;
    padding: 15px 14px;
    margin-right: -10px;
}

.spancommunicator {
    padding-top: 100px;
}

.secondheading {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 64px;
    letter-spacing: 0px;
    word-spacing: 0px;
}


.secondcontent {

    display: flex;
    width: 100%;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 30px;
}














/* FACE GUY STUFF */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .face {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #ffcd00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}
.container .face:hover {
    background: linear-gradient(180deg, #f44336, #ffcd00)
}
.container .face:before {
    content: '';
    position: absolute;
    width: 150px;
    height: 70px;
    top: 180px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background: #b57700;
    transition: 0.5s;
}

.container .face:hover:before {
    top: 210px;
    width: 150px;
    height: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #9d0b00
}

.container .face .eyes {
    position: relative;
    top: -40px;
    display: flex;
    flex-wrap: wrap;

}
.container .face .eyes .eye {
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.container .face .eyes .eye:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
}

@media (max-width: 1200px){
    .rightpart {
        display: none;
    }
}